body {
    text-align: center;
    margin: 20px;
    font-family: 'Courier New', monospace;
    background: linear-gradient(to bottom right, #87CEFA, #FFC0CB, #98FB98);
}

h1 {
    background-color: lightyellow;
    padding: 20px;
    margin: 40px;
    color: #333;
    animation: fadeIn 1s ease-in-out;
    font-size: 40px;
    position: relative;
    border-radius: 10%;
}
h2 {font-size: 26px;}
.heart {
    width: 16px;
    height: 16px;
    position: absolute;
    animation: beat 1s infinite alternate;
}

.heart::after {
    content: '🩵';
    font-size: 40px;
    position: absolute;
    color: #ff0000;
}


.heart.left1::after {
    top: 86px;
    left: -90px;
}
.heart.left2::after {
    top: 106px;
    left: -90px;
}
.heart.left3::after {
    top: 126px;
    left: -90px;
}

.heart.right1::after {
    top: 86px;
    left: 66px;
}
.heart.right2::after {
    top: 106px;
    left: 66px;
}
.heart.right3::after {
    top: 126px;
    left: 66px;
}



.heart.left1 { top: 10%; left: 5%; }
.heart.left2 { top: 30%; left: 5%; }
.heart.left3 { top: 50%; left: 5%; }
.heart.left4 { top: 70%; left: 5%; }
.heart.left5 { top: 90%; left: 5%; }
.heart.left6 { top: 110%; left: 5%; }

.heart.right1 { top: 10%; right: 5%; }
.heart.right2 { top: 30%; right: 5%; }
.heart.right3 { top: 50%; right: 5%; }
.heart.right4 { top: 70%; right: 5%; }
.heart.right5 { top: 90%; right: 5%; }
.heart.right6 { top: 110%; right: 5%; }

.member-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 0;
    animation: revealMembers 1s forwards;
}

.member {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 1000px;
    height: 300px;
    text-align: left;
    background-color: #fff;
    box-sizing: border-box;
    transition: transform 0.5s;
    overflow: hidden;
}

.member h2 {
    font-family: 'Courier New', monospace;
    color: #0077cc;
}

.member img {
    float: right;
    margin-left: 10px;
    border-radius: 100%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.member-button {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #0077cc;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.member-button:hover {
    background-color: #005580;
}

.social-buttons {
    margin-top: 20px;
}

.social-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #0077cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.social-button:hover {
    background-color: #005580;
}

.footer {
    margin-top: 50px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes revealMembers {
    to {
        opacity: 1;
    }
}

@keyframes beat {
    to {
        transform: scale(1.1);
    }
}

.member:nth-child(even) {
    animation: slideFromRight 0.8s ease-in-out 0.4s forwards;
}

.member:nth-child(odd) {
    animation: slideFromLeft 0.8s ease-in-out 0.6s forwards;
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}





