/* Add your styles here */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://avatars.mds.yandex.net/i?id=11cc932a2a09a0cdb78cb1205946220a_l-10087650-images-thumbs&n=13');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(465, 124, 400, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    line-height: 1.4;
    color: black;
    font-size: 140%;
}

nav {
    background-image: url('https://avatars.mds.yandex.net/i?id=a184706a8a759d69a019cf1636c35cc9daaa5dde-10878212-images-thumbs&n=13');
    padding: 14px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

nav a {
    color: white;
    background-color: rgba(2, 153, 209, 0.7);
    text-decoration: none;
    margin-right: 12px;
    padding: 12px 19px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.1);
}

.profiles {
    margin-top: 19px;
}

.profiles a {
    display: block;
    margin-bottom: 12px;
    color: blue;
}
